*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rowdies', cursive;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #1f2937;
  color: #d1d5db;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #111827;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.rock {
  color: #16a34a;
}

.paper {
  color: #facc15;
}

.scissors {
  color: #c026d3;
}

.header-heading {
  font-size: 4.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -4px;
}

.header-heading span:not(:last-child) {
  margin-right: 2.8rem;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
}

.buttons button:not(:last-child) {
  margin-right: 3.2rem;
}

.btn {
  width: 10rem;
  height: 10rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn-rock {
  background-color: #16a34a;
}

.btn-paper {
  background-color: #facc15;
}

.btn-scissors {
  background-color: #c026d3;
}

.img {
  width: 6rem;
  height: 6rem;
  transform: rotate(90deg);
  transition: all 0.4s;
}

.img:hover {
  transform: rotate(90deg) scale(1.4);
}

.img img {
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.6rem;
}

.options-heading {
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.options-buttons button:not(:last-child) {
  margin-right: 0.4em;
}

.options-btn {
  border: 0;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  background-color: #d1d5db;
  border-radius: 6px;
  transition: all 0.4s;
  font-size: 1.6rem;
  font-weight: 700;
}

.options-btn:hover {
  background-color: #fff;
}

.game-container {
  display: flex;
  margin-top: 4.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game-box-heading {
  font-size: 1.8rem;
}

.game-box-image {
  width: 14rem;
  height: 14rem;
  color: #9ca3af;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.2rem;
  margin: 2rem 0;
}

.fist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
}

.left-fist {
  transform: rotate(90deg);
}

.right-fist {
  transform: rotateY(180deg) rotate(90deg);
}

.versus {
  align-self: center;
  font-size: 4.6rem;
  color: #c40909;
  text-shadow: 4px 3px 0px #e4e6e9, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.score {
  font-size: 3.6rem;
}

.footer {
  background-color: #111827;
  color: #e2e8f0;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  padding: 2.2rem;
  border-top: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(
    90deg,
    rgba(22, 163, 74, 1) 0%,
    rgba(250, 204, 21, 1) 50%,
    rgba(192, 38, 211, 1) 100%
  );
  box-shadow: rgb(0 0 0 / 80%) 0px -20px 30px -10px;
}

a:link,
a:visited {
  color: #e2e8f0;
  transition: all 0.4s;
}

a:active,
a:hover {
  color: #9ca3af;
}
