*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rowdies', cursive;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #1f2937;
  color: #d1d5db;
}

.header {
  background-color: #111827;
  padding: 4.8rem;
}

.rock {
  color: #16a34a;
}

.paper {
  color: #facc15;
}

.scissors {
  color: #c026d3;
}

.header-heading {
  font-size: 4.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-heading span:not(:last-child) {
  margin-right: 2.8rem;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.8rem;
}

.settings-buttons {
  margin-left: 2rem;
}

.settings-buttons button:not(:last-child) {
  margin-right: 1rem;
}

.settings-btn {
  border: 0;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  background-color: #d1d5db;
  border-radius: 6px;
  transition: all 0.4s;
  font-size: 1.6rem;
  font-weight: 700;
}

.settings-btn:hover {
  background-color: #fff;
}

.game {
  border: 3px solid #d1d5db;
  background-color: #111827;
  border-radius: 6px;
  width: 40%;
  height: 30rem;
  margin: 4.8rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  padding: 6rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.box {
  width: 14rem;
  height: 14rem;
  border: 3px dashed #9ca3af;
  color: #9ca3af;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.2rem;
}

.versus {
  align-self: center;
  font-size: 9rem;
  color: #c40909;
  transform: rotate(-7.5deg);
  text-shadow: 4px 3px 0px #e4e6e9, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.scores {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2rem;
}

.score {
  font-size: 1.8rem;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.8rem;
}

.buttons {
  display: flex;
  margin-top: 3.2rem;
}

.buttons button:not(:last-child) {
  margin-right: 3.2rem;
}

.btn {
  width: 12rem;
  height: 12rem;
  border: 3px solid #d1d5db;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-rock {
  background-color: #16a34a;
}

.btn-paper {
  background-color: #facc15;
}

.btn-scissors {
  background-color: #c026d3;
}

.footer {
  background-color: #111827;
  color: #e2e8f0;
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.8rem;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  transition: all 0.4s;
}

.img:hover {
  transform: scale(1.4);
}

.img img {
  width: 100%;
  fill: #c40909;
}
